# Telegram bot
BOT_TOKEN=your-telegram-bot-token
BOT_USERNAME=your_bot_username

# Django
CSRF_TRUSTED_ORIGINS=http://localhost

# Database (PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=public

# Redis
REDIS_URL=redis://redis:6379/1
