services:
  django:
    build: .
    container_name: mafiareddon_django
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env
    expose:
      - "8000"
    depends_on:
      - redis

  bot:
    build: .
    container_name: mafiareddon_bot
    command: python manage.py bot
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - django

  celery_worker:
    build: .
    container_name: mafiareddon_celery_worker
    command: celery -A config worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - django
      - redis

  celery_beat:
    build: .
    container_name: mafiareddon_celery_beat
    command: celery -A config beat -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - django
      - redis

  redis:
    image: redis:7-alpine
    container_name: mafiareddon_redis
    restart: always
    expose:
      - "6379"

  nginx:
    image: nginx:latest
    container_name: mafiareddon_nginx
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/static:ro
      - media_volume:/media:ro
    ports:
      - "80:80"
    depends_on:
      - django

volumes:
  static_volume:
  media_volume:
