services:
  django:
    build: .
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn config.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    env_file:
      - .env
    expose:
      - "8000"
    depends_on:
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"

  bot:
    build: .
    command: python manage.py bot
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - django
    extra_hosts:
      - "host.docker.internal:host-gateway"

  celery_worker:
    build: .
    command: celery -A config worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - django
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"

  celery_beat:
    build: .
    command: celery -A config beat -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - django
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    image: redis:7-alpine
    restart: always
    # PORTS OLIB TASHLANDI
    # ports:
    #   - "6379:6379"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/static:ro
    ports:
      - "80:80"
    depends_on:
      - django

volumes:
  static_volume:
