services:
  django:
    build: .
    container_name: mafiareddon_django
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 120
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    env_file:
      - .env
    expose:
      - "8000"
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

  bot:
    build: .
    container_name: mafiareddon_bot
    command: python manage.py bot
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - django
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

  celery_worker:
    build: .
    container_name: mafiareddon_celery_worker
    command: celery -A config worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - django
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

  celery_beat:
    build: .
    container_name: mafiareddon_celery_beat
    command: celery -A config beat -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - django
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/staticfiles:ro
      - media_volume:/app/media:ro
    ports:
      - "80:80"
    depends_on:
      - django


volumes:
  static_volume:
  media_volume:

